#search-ajax .db {
    background: white;
}
#search-ajax .sc {
    background: #ffb366;
}
#search-ajax .yt {
    background: #ff9980;
}
#search-container{
    
}
#search {
    border-style: solid;
    border-bottom-color: black;
    border-width: 2px;
    padding: 10px;
    margin:0px;
    box-sizing: border-box;
}
#search:focus{
    border-color: black;
    box-shadow: none;
}
#search-ajax a {
    padding: 5px;
    text-decoration: none;
    color: #336699;
}
#search-ajax :hover{
    background-color: #e0e0d1;
}
.srt {
    padding: 0px;
    font-size: 12px;
}
h1 {
}