#search-ajax .db {
    background: white;
}
#search-ajax .sc {
    background: #ffb366;
}
#search-ajax .yt {
    background: #ff9980;
}
#search-container{
}
#sidebar{
    /*background: #c8e6c9;*/
    background: #ABB2B9;
    border-right: 2px solid;
    height: 100%;
    overflow-y: auto;
    padding-left: 8px;
    padding-right: 8px;
    flex-basis:350px;
    order:1;
}
#search {
    border-style: solid;
    border-bottom-color: black;
    border-width: 2px;
    padding: 8px;
    margin:0px;
    box-sizing: border-box;
    background: white;
    padding-left: 8px;
    padding-right: 8px;    
}
#search:focus{
    border-color: black;
    box-shadow: none;
}
#search-ajax a {
    padding: 5px;
    text-decoration: none;
    color: #336699;
}
#search-ajax :hover{
    background-color: #e0e0d1;
}
#search-results td{
    padding: 6px;
    font-size: 12px;
}
.scrt {
    background-color: #ffb366;
}
.ytrt {
    background-color: #ff9980;
}
.recrt {
    background-color: #ea80fc;
}
td.a {
    width:35%;
}
td.b {
    width: 60%;
}
td.c {
    width:5%;
}
.b-small {
    width:25px;
    height:25px;
    line-height: 16px;
}
.b-small i{
    line-height: 16px;
}
h1 {
}
body {
    padding: 0px;
    margin: 0px;
}
.row {
    margin-bottom: 0px;
}
.container-fluid{
    padding: 0px;
}
#main-container {
    height:100%;
    order:2;
    flex-grow:3;
    position: relative;
}
#playlist{
    width: 70%;
    margin-left: 15px;
}
#playlist tr{
    height: 30px;
}
.player-box{
    height: 200px;
    position: absolute;
    bottom:0;
    right:0;
    left: 0;
    display:flex;
}
#player{
    order:1;
    flex-basis:320px;
}
#scplayer-wrapper{
    order:2;
    flex-grow:2;
}
#pl-header{
    float: left;
    height:100%;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 50px;
}
#pl-header h4{
    margin-top: 0;
}
#app-name h4{
    margin-top: 10px;
}
#app-name{
    margin-top: 10px;
}
.player-stats{
    height:50px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    background: #ABB2B9;
}
#controls{
    float: right;
}
.ctrl-btn{
    margin-top: 20%
    margin-left: 20px;
}
.fa {
    color: black; 
}
.fa:hover{
    color:#ea80fc;
}

#fullheight {
    display: flex;
    align-items:flex-stretch;
    height:100%;
    justify-content:flex-start;
}
#playlist-wrapper{
    width:100%;
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 200px;
}

//Scrollbars

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 6px;
    background-color: #666;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 6px;
    background-color: #666;
    -webkit-border-radius: 6px;
}