.container-fluid {
	background-color: #e0e0d1;
}

#search-ajax .db {
    background: white;
}
#search-ajax .sc {
    background: #ffb366;
}
#search-ajax .yt {
    background: #ff9980;
}
#search-container{
    
}
#search {
    border-style: solid;
    border-bottom-color: black;
    border-width: 2px;
    padding: 8px;
    margin:0px;
    box-sizing: border-box;
	background-color: #ffffff;
}
#search:focus{
    border-color: black;
    box-shadow: none;
}
#search-ajax a {
    padding: 5px;
    text-decoration: none;
    color: #336699;
}
#search-ajax :hover{
    background-color: #e0e0d1;
}
#search-results td{
    padding: 8px;
    font-size: 14px;
}
.scrt {
    background-color: #ffb366;
}
.ytrt {
    background-color: #ff9980;
}
td.a {
    width:25%;
}
td.b {
    width: 70%;
}
td.c {
    width:5%;
}
.b-small {
    width:25px;
    height:25px;
    line-height: 25px;
}
.b-small i{
    line-height: 14px;
}
#header-section {
	background-color: #ffb366;
	position: fixed;
	height: 110px;
	z-index: 1000;
}

.banner{
	position: absolute-top;
}
	
#right-pane{
	background-color: #ffffff;
}

.right{
	position: absolute-right;
	margin-top: 90px;
	margin-botton: 5px;
}

#left-pane {
	position: fixed;
	height: 89%;
	z-index: 1000;
	background-color: #e0e0d1;
}

.left {
	position: absolute-left;
	overflow: scroll;
	margin-top: 90px;
}