<html>
    <head>
        <title>Spotitunes {{id}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='materialize/css/materialize.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='fa/css/font-awesome.min.css')}}">
    </head>
    <body>
        <div class="container-fluid">
            <div id="fullheight">
                <div id="sidebar">
                        <div id='app-name'><h4>Spotitunes {{id}}</h4></div>
                    <div id="search-container">
                        <div class='input-field'>
                            <input id='search' placeholder='Just start typing a song / artist' type='text'></div>
                        <div class='collection' id='search-ajax' style='display:none;'>
                        </div>
                    </div>
                    <div id="search-results" style='display:none;'>
                        <h4>Search</h4>
                        <table class="striped srt" id='search-results-table' style="display:none;">
                        </table>
                        <h4>SoundCloud</h4>
                        <table class="striped scrt" id='sc-results-table' style="display:none;">
                        </table>
                        <h4>YouTube</h4>
                        <table class="striped ytrt" id='yt-results-table' style="display:none;">
                        </table>
                        <h4>Recommended</h4>
                        <table class="striped recrt" id='rec-results-table' style="display:none;">
                            <tr><td>No results for artist searches</td></tr>
                        </table>
                    </div>
                </div>
                <div id="main-container">
                    <div class='player-stats'>
                        <div id="pl-header"><h4>Playlist <span id='plid-tag'></span></h4>
                        </div>
                        <div id='now-playing'></div>
                        <div id='controls'>
                            <button class='ctrl-btn' onclick="uniplayer.back();">&lt;&lt;</button>
                            <button class='ctrl-btn' onclick="uniplayer.skip();">&gt;&gt;</button>
                            <button class='ctrl-btn' onclick="uniplayer.pause();">PAUSE</button>
                            <button class='ctrl-btn' onclick="uniplayer.play();">PLAY</button>
                        </div>
                    </div>
                    <div id='playlist-wrapper'>
                        <table class='playlist' id='playlist'>
                        </table>
                    </div>
                    <div class='player-box'>
                        <div id="player"></div>
                        <div id='scplayer-wrapper'><iframe id="scplayer" width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/3400000"></iframe></div>
                    </div>
                </div>
            </div>
        </div>
        <div id='initial_plid' style='display:none;' value='{{plid}}'>{{plid}}</div>
    </body>
    <script type='text/javascript' src="{{ url_for('static',filename='jquery.min.js')}}"></script>
    <script type='text/javascript' src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
    <!--<script type='text/javascript' src="{{ url_for('static',filename='semantic/semantic.min.js')}}"></script>-->
    <script type='text/javascript' src="{{ url_for('static',filename='soundcloud_player_api.js')}}"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='playlist.js')}}"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='ytplayer.js')}}"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='index.js')}}"></script>
</html>