<html>
    <head>
        <title>Spotitunes {{id}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='materialize/css/materialize.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <div class='row'>
                        <div class="col-sm-12">
                            <h1>Spotitunes {{id}}</h1>
                            <div id="search-container">
                                <div class='input-field'>
                                    <input id='search' placeholder='Just start typing a song / artist / tag' type='text'></div>
                                <div class='collection' id='search-ajax' style='display:none;'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-xs-12">
                            <div id="search-results" style='display:none;'>
                                <h4>Search</h4>
                                <table class="striped srt" id='search-results-table' style="display:none;">
                                    <tr><td>No results</td></tr>
                                </table>
                                <h4>SoundCloud</h4>
                                <table class="striped scrt" id='sc-results-table' style="display:none;">
                                    <tr><td>No results</td></tr>
                                </table>
                                <h4>YouTube</h4>
                                <table class="striped ytrt" id='yt-results-table' style="display:none;">
                                    <tr><td>No results</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div id='playlist-wrapper'></div>
                </div>
            </div>
        </div>
        <div id="player"></div>
        <iframe id="scplayer" width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/232202756"></iframe>
    </body>
    <script type='text/javascript' src="{{ url_for('static',filename='jquery.min.js')}}"></script>
    <script type='text/javascript' src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
    <!--<script type='text/javascript' src="{{ url_for('static',filename='semantic/semantic.min.js')}}"></script>-->
    <!--<script type='text/javascript' src="{{ url_for('static',filename='soundcloud_player_api.js')}}"></script>  -->
    <script type='text/javascript' src="{{ url_for('static',filename='playlist.js')}}"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='ytplayer.js')}}"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='index.js')}}"></script>
</html>